---
import { Image } from "astro:assets";
import { urlFor, type SanityImage } from "../../utils/utils";

export interface AboutMeType {
    profileImage: SanityImage;
    signatureImage: SanityImage;
}

type Props = {
    data: AboutMeType;
};

const { data }: Props = Astro.props;
---

<Image
    width={2048}
    height={2048}
    loading="eager"
    class="w-[30rem] h-auto object-cover"
    src={urlFor(data.profileImage).size(2048, 2048).url()}
    alt=""
/>
<p class="max-w-[700px] tracking-wider italic">
    <slot />
</p>
<picture class="w-full max-w-[700px] flex justify-center">
    <Image
        width={176}
        height={105}
        class="w-44"
        src={urlFor(data.signatureImage).size(692, 409).url()}
        alt=""
    />
</picture>
