---
import Layout, { type SeoEN } from "../../../../layouts/Layout.astro";

import NavbarMenu, { type NavData } from "../../../../components/navbar/Navbar";
import Footer from "../../../../components/footer/Footer.astro";

import { getNavbar, getWorkPoster } from "../../../../utils/query";
import WorkPoster, {
    type WorkPosterType,
} from "../../../../components/work/WorkPoster.astro";

interface WorkPosterData extends WorkPosterType {
    seo: SeoEN;
}

const navData: NavData = await getNavbar();
const data: WorkPosterData = await getWorkPoster();

const { pathname } = Astro.url;

const seo = {
    title: data.seo?.titleEN,
    description: data.seo?.descriptionEN,
    keywords: data.seo?.keywordsEN,
};
---

<Layout lang="en" seo={seo}>
    <NavbarMenu
        lang="en"
        contactButtonText="Get in touch"
        pathname={pathname}
        navData={navData}
        client:load
        transition:persist="navbar"
    />

    <main class="m-8 xl:m-16 flex-grow">
        <h1 class="mb-8 x:mb-12 font-poppins text-center text-4xl xl:text-6xl">
            Poster Design
        </h1>
        <WorkPoster data={data} />
    </main>
    <Footer lang="en" />
</Layout>
