---
interface Props {
  introAnimation: string;
}

const { introAnimation }: Props = Astro.props;
---

<span
  class:list={[
    `inline-block 
    translate-y-[20vh] 
    motion-reduce:translate-y-0 
    motion-reduce:animate-none`,
    introAnimation,
  ]}
>
  <slot />
</span>
