@keyframes showOverlay {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes showNavMenu {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes hideOverlay {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hideNavMenu {
  0% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
