---
import Navbar from "../components/navbar/Navbar";
import Footer from "../components/footer/Footer.astro";

import Layout from "../layouts/Layout.astro";
import { getNavbar } from "../utils/query";

const { pathname } = Astro.url;

const navData = await getNavbar();

const seo = {
    title: "Etwas ging schief... | Oh Teezy",
    description: "Angeforderte Seite konnte nicht gefunden werden",
    keywords:
        "Seite nicht gefunden 404 Fehler Nicht gefunden Ups, etwas ist schiefgelaufen Verloren im Cyberspace Wir konnten nicht finden, wonach Sie suchen Sackgasse Fehler 404 Entschuldigung, diese Seite fehlt Kaputter Link Zurück zur Startseite Erkunden Sie unsere Website Suchen Sie auf unserer Website Durchsuchen Sie unsere Inhalte Finden Sie Ihren Weg Navigieren Sie auf unserer Website Setzen Sie Ihre Reise fort Entdecken Sie mehr Zurück zur Hauptseite Sitemap",
};
---

<Layout lang="de" seo={seo}>
    <Navbar
        lang="de"
        contactButtonText="Kontakt"
        pathname={pathname}
        navData={navData}
        client:load
        transition:persist="navbar"
    />

    <main
        class="flex flex-col justify-center items-center gap-8 flex-grow font-poppins"
    >
        <h1 class="text-8xl">404</h1>
        <p>Oops... Seite konnte nicht gefunden werden</p>
        <p>Could not find page</p>
        <p class="text-xl">
            Gehe zu <a
                href="/"
                class="underline hover:text-orange transition-color duration-200 ease-in-out"
                >Home</a
            >
        </p>
    </main>
    <Footer lang="de" />
</Layout>
