---
import Layout, { type Seo } from "../../../layouts/Layout.astro";

import Navbar, { type NavData } from "../../../components/navbar/Navbar";
import Footer from "../../../components/footer/Footer.astro";

import { getNavbar, getWorkSketch } from "../../../utils/query";
import type { WorkSketchType } from "../../../components/work/WorkSketch.astro";
import WorkSketch from "../../../components/work/WorkSketch.astro";

interface WorkSketchData extends WorkSketchType {
  seo: Seo;
}

const { pathname } = Astro.url;

const navData: NavData = await getNavbar();
const data: WorkSketchData = await getWorkSketch();

const seo = {
  title: data.seo?.title,
  description: data.seo?.description,
  keywords: data.seo?.keywords,
};
---

<Layout lang="de" seo={seo}>
  <Navbar
    lang="de"
    contactButtonText="Kontakt"
    pathname={pathname}
    navData={navData}
    client:load
    transition:persist="navbar"
  />

  <main class="m-4 xl:m-16 flex flex-col gap-12">
    <h1 class="mb-8 xl:mb-12 font-poppins text-center text-4xl xl:text-6xl">
      Sketch Design
    </h1>
    <WorkSketch data={data} />
  </main>
  <Footer lang="de" />
</Layout>
