---
import { type SanityImage, urlFor, type Lang } from "@utils/utils";
import WorkReturnButton from "@components/work/WorkReturnButton.astro";

type ImageVertical = {
    imageAlt: string;
    image: SanityImage;
    _type: "imageVertical";
};

type ImageHorizontal = {
    imageAlt: string;
    image: SanityImage;
    _type: "imageHorizontal";
};

export interface WorkSketchType {
    sketch: [ImageVertical | ImageHorizontal];
}

type Props = {
    data: WorkSketchType;
    lang: Lang;
    headline: string;
};
const { data, headline, lang } = Astro.props;
---

<main
    class="mb-8
            ml-8
            mr-8
            xl:mb-16
            xl:ml-16
            xl:mr-16
            flex-grow"
>
    <WorkReturnButton lang={lang} />
    <h1
        class="mb-8
                xl:mb-16
                font-poppins
                text-center
                text-3xl
                sm:text-4xl
                md:text-5xl
                xl:text-6xl"
    >
        {headline}
    </h1>
    <div
        class="max-w-[1300px]
                
                mx-auto
                flex
                gap-8 
                flex-wrap 
                justify-center 
                items-center"
    >
        {
            data.sketch?.map((obj) => {
                if (obj._type === "imageVertical") {
                    return (
                        <img
                            width={1689}
                            height={2560}
                            loading="eager"
                            class="w-[25rem] h-[28rem] xl:h-[35rem]"
                            src={urlFor(obj.image).size(1689, 2560).url()}
                            alt={obj.imageAlt}
                        />
                    );
                }
                if (obj._type === "imageHorizontal") {
                    return (
                        <img
                            width={1664}
                            height={2560}
                            loading="eager"
                            class="w-full 
                                    h-fit 
                                    xl:w-fit 
                                    xl:h-[30rem]"
                            src={urlFor(obj.image).size(2560, 1664).url()}
                            alt={obj.imageAlt}
                        />
                    );
                }
            })
        }
    </div>
</main>
